* {
    /* Sets or rather resets any predefined values a browser might apply. */
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    /* color: whitesmoke; */
  }
  
html {
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
    min-height: 100vh;
    font-family: 'helvetica neue';
}
body {
    background-color:rgba(95, 87, 87, 00);
  }
  
/* form, input, button, a {
    all: unset;
  } */

  @keyframes textGradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  

  .animated-text {

    background: linear-gradient(45deg, #f06, #3c9);
    background-size: 200% 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text; /* Chrome and Safari */
    animation: textGradientAnimation 3s linear infinite;
    -webkit-animation: textGradientAnimation 3s linear infinite; /* Chrome and Safari */
    text-align: center;
    text-decoration: underline;
    display: block;
    font-size: 2.4rem;
    font-weight: 800;
  }
  

  
h1{
    text-align: center;
    font-size: 2.5rem;
    text-decoration: underline;
    font-weight: 800;
    padding-bottom: 7%;
}


.container{
    /* display: none; */
    width: 40%;
    margin: 20vh auto;
    padding: 2% 0 2% 0;
    border: 1px solid #000000;
    background-color:rgba(95, 87, 87, .10);

  }



.blur-div {
    filter: blur(13px); /* Adjust the blur radius as needed */
}
  

.form-cntrl{
    padding: 1%;
    /* margin: 1% 5%; */
}


.submit{
    display: block;
    margin: 0 auto;
    width: 80%;
    margin-top: 10%;
    /* margin-bottom: 7%; */
    background-color: rgba(255, 255, 255, 00);
    color: white;
    border: none;
    font-size:1.25rem;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.submit:hover, .submit:focus, .submit:active{
    background-color: rgba(255, 255, 255, 00);
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#loginButtons p{
  /* text-align: center;
  color: rgb(55, 55, 87); */

  text-align: center;
  font-weight: 600;
  padding: 0;
  margin: 0;
  margin-bottom: 3%;
  font-size: 1.05rem;
  color: rgb(48, 48, 63);
  text-shadow: 1px 1px 2px rgb(145, 125, 182);
}
#loginButtons p a{
  color: rgb(191, 225, 243);
  text-decoration: none;
}
#loginButtons p a:hover{
  color: rgb(224, 240, 255);
  text-decoration: underline;
}

@media screen and (min-width: 301px) and (max-width: 600px) {
  .animated-text{
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .animated-text{
    font-size: 2rem;
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {

}
@media screen and (min-width: 1201px) and (max-width: 1800px) {


}

@media screen and (min-width: 1801px) and (max-width: 2400px) {


}

